/* Slide animation */
@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

/* Styling the social proof */
.gen-ai {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  overflow: hidden;
  white-space: nowrap;
}

.gen-ai > h2 {
  color: white;
  font-size: 32px;
  max-width: 900px;
  text-wrap: pretty;
  text-align: center;
}

/* Styling the icons section */
.ai-icons {
  display: inline-block;
  /* flex-direction: row;
  align-items: center;
  justify-content: center; */
  gap: 5rem;
  animation: slide 20s infinite linear;
}

.ai-icons > img {
  height: 24px;
  display: inline;
  width: auto;
  margin: 0 4rem;
}

.eleven-labs {
  height: 18px !important;
  width: auto;
}

.slide-wrapper {
  /* display: inline-block; */
  /* white-space: nowrap; */
  /* overflow: hidden; */
  position: relative;
}

/* Giving the slide-wrapper a width was problematic
the ai-icons display changed to in-line block from flex and
the slide wrapper overflow hidden with no wrap implemented */

/* Adding fades on the edges */
 .slide-wrapper::before {
  position: absolute !important;
  content: "";
  width: 100px;
  height: 100px !important;
  top: 0;
  left: 14vw;
  background: linear-gradient(to right, #0f0f0f, #0f0f0f00);
  z-index: 100;
}

.slide-wrapper::after {
  content: "";
  position: absolute !important;
  width: 100px;
  height: 100px;
  top: 0;
  right: 14vw;  
  background: linear-gradient(to left, #0f0f0f, #0f0f0f00);
  z-index: 100;
} 

/* Issues arose from the fades because the slide-wrapper started from the edge of the screen
whose overflow property was hidden. The vw measuring unit was used to fix this */

/* Pause slide animation on hover */
.slide-wrapper:hover .ai-icons {
  animation-play-state: paused;
}