/* Styling hero container */
.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin-top: -4rem;
  position: relative;
  height: auto;
  /* margin-bottom: 10vh; */
}

/* styling hero texts */
.hero-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.hero-texts > h2 {
  font-size: 44px;
}

.hero-texts > p {
  font-size: 18px;
  color: #707070;
}


/* Animation for hero imagery */
@keyframes scroll_effect {
  from {
    scale: 1;
    margin-bottom: 0px;
  }

  to {
    scale: 2;
    margin-bottom: 20vh;
  }
}

@keyframes top_left_shift {
  from {
    left: -50%;
  }

  to {
    left: -90%;
  }
}

@keyframes bottom_left_shift {
  from {
    left: -32%;
  }

  to {
    left: -60%;
  }
}

@keyframes right_shift {
  from {
    right: -53%;
  }

  to {
    right: -93%;
  }
}

/* Styling the hero images */
.hero-imagery {
  position: sticky;
}

.hero-imagery > video {
  width: 800px;
  height: auto;
  border-radius: 1rem;
  animation: scroll_effect auto linear;
  animation-timeline: scroll();
  animation-range: 0% 120vh;
}

.hero-imagery > img {
  position: absolute;
  border-radius: 2rem;
  transform: scale(0.5, 0.5);
}

.img-top-left {
  top: -30%;
  left: -50%;
  z-index: -1;
  animation: top_left_shift auto linear;
  animation-timeline: scroll();
  animation-range: 0% 100vh;
}

.img-bottom-left {
  top: 30%;
  left: -32%;
  z-index: -1;
  animation: bottom_left_shift auto linear;
  animation-timeline: scroll();
  animation-range: 0% 100vh;
}

.img-right {
  top: -60%;
  right: -53%;
  z-index: -1;
}