/* Styling card component */
.card-component {
  display: flex;
  flex-direction: row;
  padding: 3rem;
  background-color: #07080d;
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  /* border: none; */
  border-radius: 1rem;
  gap: 2rem;
  position: relative;
}

/* Animate on hover */
.card-component:hover::after {
  content: "";
  position: absolute;
 
  background: conic-gradient(from var(--angle), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), #648EEF, #90AEF4);
 inset: -2px;
 /* border-radius: 1rem; */
 border: none;
 border-radius: 1rem;

 
  z-index: -1;
  animation: glowing-border 2s linear infinite;
  
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}




@keyframes glowing-border {
  from {
    /* transform: rotate(0deg); */
    --angle: 0deg;
  }

  to {
    /* transform: rotate(360deg); */
    --angle: 360deg
  }
}

.title-icon {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.title-icon > h3 {
  color: white !important;
  font-size: 28px;
}

.title-icon > p {
  color: #B0B0B0;
  font-size: 15px;
}

/* Styles for  All components together (Grid)*/
.why-choose-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  
}

/* Styling the Why Choose Component */
.why-choose {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.why-choose > h2 {
  font-size: 24px;
  color: #BBBBBB;
}



/* Animation Effect needed on hover */